:root {
    --color-bg: #EEE;
    --color-bg-alt: #DDD;
    --color-bg-hover: #CCC;

    --color-fg: #000;
    --color-fg-alt: #444;

    --color-link: #C2C;
    --color-link-visited: #92C;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #222;
        --color-bg-alt: #333;
        --color-bg-hover: #555;

        --color-fg: #DDD;
        --color-fg-alt: #AAA;

        --color-link: #88F;
        --color-link-visited: #F8F;
    }
}

a {
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    background-color: var(--color-bg-hover);
}

html {
    background-color: var(--color-bg);
}

body {
    font-family: "monospace";
    font-size: 1em;
    color: var(--color-fg);

    margin-left: 8%;
    margin-right: 8%;
}

.big1 {
    font-size: 1.5em;
    font-weight: bold;
}

.big2 {
    font-size: 1.2em;
    font-weight: bold;
}

nav {
    margin: 0.5em 0em;
    background-color: var(--color-bg-alt);
    overflow: hidden;
}

nav a {
    float: left;
    text-align: center;
    padding: 0.5em 0.8em;
    text-decoration: none;
}

details > .subnode {
    margin-left: 1em;
}

details > .node-contents {
    margin-left: 1em;
}

summary {
    padding: 0.35em 0em 0.35em 0em;
}

summary:hover {
    background-color: var(--color-bg-hover);
    cursor: pointer;
}

code {
    background-color: var(--color-bg-alt);
    font-family: monospace;
    font-size: 1.2em;
}

pre code {
    display: block;
}

.project-card {
    display: float;
    background-color: var(--color-bg-alt);
    box-shadow: 0.1em 0.2em 0.5em 0.25em #00000030;
    border-radius: 0.1em;
    padding: 1em;
    margin-bottom: 1.5em;
}

input[type="text"] {
    margin: 1em;
    padding: 0.35em 0.2em 0.35em 0.2em;
    border: 1px solid var(--color-bg-hover);
    border-radius: 0.5em;
    background-color: var(--color-bg-alt);
    color: var(--color-fg-alt);
}

input[type="text"]:hover {
    background-color: var(--color-bg-hover);
    color: var(--color-fg);
}

button {
    padding: 0.35em 0.2em 0.35em 0.2em;
    border: 1px solid var(--color-bg-hover);
    border-radius: 0.5em;
    background-color: var(--color-bg-alt);
    color: var(--color-fg-alt);
}

button:hover {
    background-color: var(--color-bg-hover);
    color: var(--color-fg);
}

.project-tag-clickable:hover {
    color: var(--color-fg);
    background-color: var(--color-bg-hover);
    cursor: pointer;
}

.project-title {
    font-style: italic;
    font-size: 1.5em;
    margin-top: 0px;
}

.project-url {
    font-size: 1em;
}

.project-taglist {
    display: flex;
}

.project-taglist div {
    margin: 0.2em;
    padding: 0.1em 0.3em;
    color: var(--color-fg-alt);
}

:target {
    -webkit-animation: target-fade 1.5s 1;
    -moz-animation: target-fade 1.5s 1;
}
@-webkit-keyframes target-fade {
    100% { background-color: var(--color-bg); }
    0% { background-color: var(--color-bg-hover);  }
}
@-moz-keyframes target-fade {
    100% { background-color: var(--color-bg); }
    0% { background-color: var(--color-bg-hover); }
}

.little-cards > a {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
